body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph {
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin: 4vw;
    border-style: solid;
    padding-left: 1px;

}

.pillar {
    width: 5px;
    height: 20px;
    background-color: black;
    margin: 1px;
    margin-left:0;
}